// $neonblue: #00e1ff;
$grayishhwhite: #ddd;
$bgClr: #141b26;
$clr1: #141b26;
$clr2: #ddd;
$clr3: #00e1ff;
$clr4: #1f51ff;
$clr5: #f0f;
$clr6: #ff00ff8f;
$neonblue: #00c3ff;
$blueClr: #1f51ff;
$neongreen: springgreen;
$brightblue: #00c3ff;
$neonyellow: #ffee00;

$clrInfo: $clr3;
$neonpink: $clr5;
$textClr: $clr2;
$bgClr: $clr1;
$tertiaryClr: black;
$mode: dark;