---
import Header from "../components/Welcome/Header.astro";
import Nav from "../components/Nav/Nav";
import List from "../components/Projects/List";
import Welcome from "../components/Welcome/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Projects/Grid";
import "../styles/index.scss";
import Skills from "../components/Skills/SkillsList"
import Contact from "../components/Contact/Contact";
---

<Layout title="Buntu Cossie">
    <Nav client:only="solid-js" />
    <main>
        <Welcome />
        <Header
            id="about-header"
            label="About"
        />
        <div id="about" class="mainDivs">
            <img src="/me.jpg" />
            <div class="paragraph">
                <p>
                    I am Buntu Cossie, a full-stack developer based in South Africa. I make web apps mainly in TypeScript, React and PostgreSQL and sometimes in C#.
                    This website, however, was built with Astro, SolidJS and SASS.
                </p>
                <p>
                    I am passionate about software development and tech in general, and I am always eager to learn new technologies in order to solve real world problems.
                </p>
            </div>
        </div>
        <Header
            id="projects-header"
            label="Projects"
        />
        <List client:visible />
        <Header id="small-projects-header" label="Smaller Projects" />
        <Grid client:visible />
        <Header id="skills-header" label="Skills" />
        <Skills />
        <Header id="contact-header" label="Contact Me" />
        <Contact client:visible />
    </main>
</Layout>
